<h1>Pagina 1: Basics</h1>
<br><p>◙Qué es un resource en el contexto de una aplicación web REST en Ruby on
Rails?</p>
<p>-Se encarga del dominio enrutador en otras palabras de determinar las rutas. </p>
<br><p>◙Qué puede hacerse con un resource?</p>
<p>-Se puede determinar en la clase routes las diferentes rutas de cada pagina del proyecto.</p>
<br><p>◙Qué es RESTful routing?</p>
<p>-Se encargan de realizar un mapeo entre cada accion del controlador,el diseño del crud y el http.</p>
<br><p>◙◙Cuantas acciones básicas tiene esta filosofía?</p>
<p>--Tiene cuantro acciones basicas </p>
<br><p>◙◙Cuales son?</p>
<p>--Leer,Crear,Elimar,Actualizar</p>
<br><p>◙◙Cuales verbos HTTP se utilizan en cada una de ellas?</p>
<p>--Patch,Get,Post,Delete </p>
