<h1>Pagina 3: Git</h1>
<br>
<br><p>◙ Inicialización de un repositorio de git nuevo en una aplicación existente</p>
<p> - git init  </p>
<br><p> ◙Creación de un branch nuevo</p>
<p> - git checkout -b nombreRama</p>
<br><p> ◙Realizar un commit incluyendo todos los cambios actuales</p>
<p> - git commit -am "mensajeDescripcion"</p>
<p> git add -A</p>
<br><p> ◙Cómo enviar el código al repositorio remoto</p>
<p> - git push -u origin master </p>
<br><p> ◙Cómo configurar el origen del repositorio remoto para evitar escribirlo
siempre cada vez que se hace un push o un pull</p>
<p> - -u con este comando se vinculara a la rama actual </p>
<br><p> ◙Diferencia entre un reset y revert</p>
<p> - Resets revierte los commits que no se estan en el master - Revert revierte commits que ya estan en el master </p>
<br><p>◙ Además de cambiar de ramas, para qué más se puede utilizar el comando git
checkou</p>
<p> - Cambiar versiones  </p>
<br><p> ◙Como puede ver los commits que se han realizado en el proyecto</p>
<p> - git log </p>
<br><p>◙ He modificado dos archivos y quiero hacer un commit por cada uno de ellos,
cómo lo puedo hacer?</p>
<p> -  git add nombrearchivo - git commit  </p>
<br>